aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.1.0
awscli==1.16.8
certifi==2019.3.9
chardet==3.0.4
Django==2.1.7
idna==2.8
idna-ssl==1.1.0
jmespath==0.9.3
multidict==4.5.2
pyasn1==0.4.4
pytz==2018.9
requests==2.21.0
rsa==3.4.2
s3transfer==0.1.13
telepot==12.7
typing-extensions==3.7.2
urllib3==1.24.1
wincertstore==0.2
yarl==1.3.0
